@using TCommerce.Core.Models.Accounts.Account
@model ChangePasswordRequest
@{
    Layout = "_ColumnsTwo";
}
@section account_navigation
{
    @await Component.InvokeAsync("AccountNavigation", new { selectedTabId = (int)AccountNavigationEnum.ChangePassword })
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label" asp-for="CurrentPassword"></label>
                <input class="form-control" asp-for="CurrentPassword" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="NewPassword"></label>
                <input class="form-control" asp-for="NewPassword" />
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="ConfirmNewPassword"></label>
                <input class="form-control" asp-for="ConfirmNewPassword" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>