@model RegisterRequest
@{
    ViewData["Title"] = "Đăng ký tài khoản";
    Layout = "_EmptyLayout";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .centered-div {
        width: 400px;
        height: 200px;
    }
</style>
<div class="container">
    <div class="centered-div">
        <form asp-action="Register" asp-controller="Account" method="post" class="sign-up-form">
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" asp-for="UserName"></label>
                <input class="form-control" type="text" placeholder="Username" asp-for="UserName" />
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" asp-for="Email"></label>
                <input class="form-control" type="email" placeholder="Email" asp-for="Email" />
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" asp-for="FirstName"></label>
                <input class="form-control" type="text" placeholder="FirstName" asp-for="FirstName" />
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" asp-for="LastName"></label>
                <input class="form-control" type="text" placeholder="LastName" asp-for="LastName" />
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" asp-for="Password"></label>
                <input class="form-control" type="password" placeholder="Password" asp-for="Password" />
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" asp-for="ConfirmPassword"></label>
                <input class="form-control" type="password" placeholder="ConfirmPassword" asp-for="ConfirmPassword" />
            </div>
            <!-- Submit button -->
            <button style="width: 100%" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign up</button>

            <!-- Login buttons -->
            <div class="text-center">
                <p>Have an account? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>
</div>
