@model ManufacturerModel

<h4>Manufacturer</h4>
<hr />
<t-accordion>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                @await Html.PartialAsync("_CreateOrUpdate", Model)
            </form>
        </div>
    </div>
</t-accordion>

<div>
    <a asp-action="Index">Back to List</a>
</div>

