@{
    ViewData["Title"] = @T["Home.Index.Title"];
    //var sliderModel = await _sliderItemService.GetAllSliderItemAsync();
}
@await Component.InvokeAsync("HomepageCategories")
<main class="main">
    @await Component.InvokeAsync("Banner")

    @await Component.InvokeAsync("HomePageProducts")
</main>

