<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script src="~/jquery/jquery-3.6.0.min.js"></script>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" crossorigin="anonymous">
    <script src="~/jquery/jquery.validate.min.js"></script>
</head>
<body>
    <a href="~/" class="logo" style="margin: 30px">
        <img src="~/images/logo.png" alt="Logo" width="105" height="70" style="border-radius: 50%">
    </a>
    @RenderBody()
    @RenderSection("Scripts", false);
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

