@model List<CategoryModel>
@if (Model is not null && Model.Any())
{
    <ul class="mobile-menu">
        @foreach (var item in Model)
        {
            <li class="">
                <a href="/@item.SeName" class="sf-with-ul">@item.Name</a>
            </li>
        }
    </ul>
}