@model ProductAttribute

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<t-accordion>
    <h4>ProductAttribute</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                @await Html.PartialAsync("_CreateOrUpdate")
            </form>
        </div>
    </div>
</t-accordion>

<div>
    <a asp-action="Index">Back to List</a>
</div>

