@model UserModel

@{
    ViewData["Title"] = "Sửa người dùng";
}

<h1>Sửa người dùng</h1>
    
<hr />
<t-accordion>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                @await Html.PartialAsync("_CreateOrUpdate")
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</t-accordion>

<div>
    <a asp-action="Index">Back to List</a>
</div>

