@model OrderModel

<t-accordion>
    <form method="post" asp-action="Edit">
        <input asp-for="Id" hidden />
        @await Html.PartialAsync("_OrderDetails.Info")
        @await Html.PartialAsync("_OrderDetails.Shipping")
        @await Html.PartialAsync("_OrderDetails.Products")
    </form>
</t-accordion>