@using TCommerce.Core.Interface
@using TCommerce.Core.Models.Security
@inject ISecurityService securityService
@{
    ViewData["Title"] = "Home Page";
    var canManageOrders = await securityService.AuthorizeAsync(PermissionSystemName.ManageOrders);
    var canManageUsers = await securityService.AuthorizeAsync(PermissionSystemName.ManageUsers);
    var canManageProducts = await securityService.AuthorizeAsync(PermissionSystemName.ManageProducts);
}
<h1 class="mt-4">Dashboard</h1>

@if (canManageOrders && canManageUsers && canManageProducts)
{
    @await Component.InvokeAsync("CommonStatistics")
}
<div class="row">
    @if (canManageOrders)
    {
        <div class="col-xl-6">
            @await Html.PartialAsync("_OrderStatistics")
        </div>
        <div class="col-xl-6">
            @await Html.PartialAsync("_UserStatistics")
        </div>
    }
</div>