@model BannerViewModel

@{

}

<h2>@(Model.Id == 0 ? "Create Banner" : "Edit Banner")</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.Id != 0)
{
    <input type="hidden" asp-for="Id" />
}

<div class="form-group">
    <label asp-for="Title"></label>
    <textarea class="form-control" asp-for="Title" ></textarea>
</div>

<div class="form-group">
    <label asp-for="Subtitle"></label>
    <textarea class="form-control" asp-for="Subtitle" ></textarea>
</div>

<div class="form-group">
    <label asp-for="ImageFile">Banner Image</label>
    <input type="file" asp-for="ImageFile" onchange="previewImage(event)"/>
</div>

<div class="form-group">
    <img id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 100px; height: auto;" />
</div>

@if(Model.Id > 0)
{
    if(Model.PictureUrl is not null)
    {
        <div class="form-group">
            <label for="currentImage">Current Image:</label>
            <div>
                <img id="currentImage" src="@Url.Content(Model.PictureUrl)" alt="Current Image" style="max-width: 100px; height: auto;" />
            </div>
        </div>
    }
}

<div class="form-group">
    <label asp-for="ButtonLabel"></label>
    <input class="form-control" asp-for="ButtonLabel" />
</div>

<div class="form-group">
    <label asp-for="ButtonLink"></label>
    <input class="form-control" asp-for="ButtonLink" />
</div>

<div class="form-group">
    <label asp-for="Text"></label>
    <input class="form-control" asp-for="Text" />
</div>

<button type="submit" class="btn btn-primary">Save</button>

@* @await Html.PartialAsync("_CKEditor", new TCommerce.Web.Areas.Admin.Models.CKEditor("Title"))
@await Html.PartialAsync("_CKEditor", new TCommerce.Web.Areas.Admin.Models.CKEditor("Subtitle")) *@


@Html.Script(
    @<text>
        <script>
            function previewImage(event) {
                var input = event.target;
                var reader = new FileReader();
                reader.onload = function() {
                    var dataURL = reader.result;
                    var output = document.getElementById('imagePreview');
                    output.src = dataURL;
                    output.style.display = 'block';
                };
                reader.readAsDataURL(input.files[0]);
            }
            tinymce.init({
                selector: '#@nameof(Model.Title), #@nameof(Model.Subtitle)'
              });
        </script>
    </text>
)