@model BannerViewModel

@{
    ViewData["Title"] = "Create";
}
<t-accordion>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        @await Html.PartialAsync("_CreateOrUpdate", Model)
    </form>
</t-accordion>

