@model BannerViewModel

@{
    ViewData["Title"] = "Edit";
}

<t-accordion>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        @await Html.PartialAsync("_CreateOrUpdate", Model)
    </form>
</t-accordion>

